
:root {
    --accent-color: #FFFFFF;
    --accent-bg-color: #404BBF;;
    --primary-text-color: #2E2F42;
    --secondary-text-color: #434455;
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway',sans-serif;
    --logo-footer: #4D5AE5;
    --logo-footer-two: #F4F4FD;
}


h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol
 {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

button {
    cursor: pointer;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

body {
    background-color: #FFFFFF;
    color: #434455;
    font-family: var(--primary-font);
}

.container {
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}


/* ========================= COMPONENTS =========================== */

/* LOGOTYPE HEADER */


.logo {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    margin-right: 76px;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}

.logo-two {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-text-color);
}




/* Contacts header */

.menu-link {
    padding-top: 24px;
    padding-bottom: 24px;
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);

}

.menu-link:hover,
.menu-link:focus {
    color: #404BBF;
}

.menu-link-contacts {
    padding-top: 24px;
    padding-bottom: 24px;
    display: block;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
}

.menu-link-contacts:hover,
.menu-link-contacts:focus {
    color: #404BBF;
}

/* MAIN */


.section-main {
    margin-top: 120px;
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--primary-text-color);
}

.section-paragraf {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}

.section-description {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.section-descrip-theme-light {
    color: var(--secondary-text-color);
}

.section-descrip-theme-dark {
    color: #F4F4FD;

}

/* PORTFOLIO BUTTONS */

.modal-portfolio-btn {
    display: inline-block;
    border: 1px solid #E7E9FC;
    padding: 12px 24px;
    border-radius: 4px;
    min-width: 69px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #F4F4FD;
    color: #4D5AE5;
    text-align: center;
}

.modal-portfolio-btn:hover,
.modal-portfolio-btn:focus {
    background-color: var(--accent-bg-color);
    color: var(--accent-color);
}

/* ========================= /COMPONENTS ========================== */

/* ============================ HEADER ============================ */

.page-header {
    border-bottom: 1px solid #e7e9fc;
}

.adress-header {
    font-style: normal;
    margin-left: auto;
}

.page-header-container {
    display: flex;
    align-items: center;
}

.page-nav {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    align-items: center;
}

.menu-item {
    margin-right: 40px;
}

.menu-item:not(:last-child) {
    margin-right: 40px;
}


.contacts {
    display: flex;
    align-items: center;
}

/* =========================== /HEADER ============================ */

/* ============================ HERO ============================== */

.hero {
    background-color: var(--primary-text-color);
    padding-top: 188px;
    padding-bottom: 188px;
}
.main-title {
    margin-top: 0;
    margin-bottom: 48px;
    padding-top: 188px;
    max-width: 496px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    text-align: center;
}

.modal-btn {
    border-radius: 4px;
    min-width: 169px;
    display: block;
    margin: 48px 635px 188px 636px;
    height: 56px;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    align-items: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background-color: #4D5AE5;
}

    .modal-btn:hover,
    .modal-btn:focus {
        background-color: var(--accent-bg-color);
    }

    .container-hero {
        text-align: center;
    }

/* =========================== /HERO ============================ */


/* =========================== MAIN ============================ */

.employee-page{
    background-color: #F4F4FD;
}

.employee-bg {
    background-color: #FFFFFF;
}

/* =========================== MAIN ============================ */



/* =========================== FOOTER ============================ */

.footer-page {
    background-color: var(--primary-text-color);
}

.logo-footer {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--logo-footer);
}

.logo-footer-two {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--logo-footer-two);
}

/* =========================== FOOTER ============================ */




/* =========================== BOTTONS PORTFOLIO ============================ */

.page-header-port-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 96px;
    margin-bottom: 72px;
}

.buttons-item:not(:last-child) {
    margin-right: 40px;
}

/* =========================== /BOTTONS PORTFOLIO ============================ */


.employee-photo {
    margin-bottom: 32px;
}


/* =========================== FOOTER PORTFOLIO ============================ */

.footer-page {
    padding-top: 100px;
    padding-bottom: 100px;
}

.container-footer {
    display: inline-block;
}

.section-description-ph {
    width: 264px;
}

. {
    margin-bottom: 16px;
}
/* =========================== /FOOTER PORTFOLIO ============================ */